body.experiment {
    background: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 2em;
    color: white;
    margin-top: 0;
}

p.nav {
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    line-height: 60px;    
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    color: white;
    line-height: normal;
}

.learn a {
    text-decoration: inherit;
    font-style: italic;
    color: white;
}

.viewport {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.75,0.75);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.75,0.75);
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.9,0.9);
}

.cube {
    position: relative;
    margin: 80px auto 80px;
    height: 450px;
    width: 400px;
    -webkit-transition: -webkit-transform 100ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 100ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 100ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

.cube h2 {
    line-height: normal;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}



.cube a {
    color: #fff;
}

.cube > div {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.85);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

.cube > div:first-child  {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
    transform: rotateX(90deg) translateZ(200px);
}

.cube > div:nth-child(2) {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    transform: translateZ(200px);
}

.cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    transform: rotateY(90deg) translateZ(200px);

}

.cube > div:nth-child(3) p {
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    line-height: 60px;
}

.cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
    transform: rotateY(180deg) translateZ(200px);
}

.cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
    transform: rotateY(-90deg) translateZ(200px);
}

.cube > div:nth-child(5) p {
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    line-height: 60px;
}

.cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

object {
    opacity: 0.5;
}

object:hover {
    opacity: 1;
}
